<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/navBar.css" />

</head>
<body>

<!-- HTML markup for the navigation bar -->
<ul class="navbar">
  <li><a href="#">Stats/Home</a></li>
  <li><a href="#">Workout</a></li>
  <li><a href="#">Food Tracker</a></li>
  <li><a href="#">Forum board</a></li>
  <li><a href="#">Log in</a></li>
  <li><a href="#">Register</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="toggleMenu()">&#9776;</a>
  </li>
</ul>

<script>
/* JavaScript function to toggle the responsive navigation menu */
function toggleMenu() {
  var navbar = document.getElementsByClassName("navbar")[0];
  if (navbar.className === "navbar") {
    navbar.className += " responsive";
  } else {
    navbar.className = "navbar";
  }
}
</script>

</body>
</html>