@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Bros</title>
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="stylesheet" href="/css/mainColors.css" />
</head>
<body>
    <section class="hero">
        <div class="hero-content">
            <h1>Your Journey to Fitness Starts Here</h1>
            <p>Get fit, stay healthy, and achieve your goals with our personalized workout programs and expert trainers.</p>
            <a href="users" class="login-button">Login</a>
            <a href="users/create" class="login-button">Register</a> <br /><br />
            <a href="#contact" style="text-decoration:none" class="cta-button">More about the program</a>
        </div>
    </section>
    @if (User.Identity.IsAuthenticated)
    {
        
    }
    else
    {
        
    
    <section id="about" class="section">
        <div class="section-content">
            <h2>About Us</h2>
            <p>The Gym Bros app is designed to assist you in achieving your workout and fitness goals. It allows you to set workout routines, track your calorie and protein intake, and make adjustments to ensure a well-rounded fitness experience</p>
        </div>
    </section>

    <section id="services" class="section">
        <div class="section-content">
            <h2>Our Services</h2>
            <ul>
                <li>Personalized Workout Programs</li>
                <li>Nutrition traking</li>
                <li>Goal Setting</li>
                <li>Exercise Library</li>
                <li>Workout Reminders and Scheduling</li>
            </ul>
        </div>
    </section>

    <section id="contact" class="section">
        <div class="section-content">
            <h2>Contact Us</h2>
            <p>Ready to get started? Contact us today!</p>
            <a href="mailto:info@example.com" class="contact-button">Email Us</a>
        </div>
    </section>
    <br/>
    }
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WelnessWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </body>


   