

body {
    background: linear-gradient(to top, #0F0E0E 40%, #6C809A);
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    color: white;
}




.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 30px;
    background: linear-gradient(to bottom, #0F0E0E 40%, #6C809A);
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2B9720;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}