ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

    ul.navbar li {
        float: left;
    }

        ul.navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.navbar li a:hover {
                background-color: #111;
            }

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {

    ul.navbar li:not(:first-child) {
        display: none;
    }

    ul.navbar li.icon {
        float: right;
        display: block;
    }

        ul.navbar li.icon a {
            display: block;
            text-align: center;
            padding: 14px 16px;
        }

    /* Show the navigation menu when the user clicks on the menu icon */
    ul.navbar.responsive {
        position: relative;
    }

        ul.navbar.responsive li.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        ul.navbar.responsive li {
            float: none;
            display: inline;
        }

            ul.navbar.responsive li a {
                display: block;
                text-align: left;
            }
}
