/* CSS styles for the header and navigation bar */
header {
    background-color: #222121;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
    background-color: #222121;
}

.navbar-brand {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .nav-menu li {
        margin: 0 10px;
    }

        .nav-menu li a {
            text-decoration: none;
            color: white;
        }

            .nav-menu li a:hover {
                color: #555;
            }

.navbar-toggler {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar-toggler {
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

        .navbar-toggler .navbar-toggler-icon {
            width: 20px;
            height: 20px;
            background-image: url('https://cdn.iconscout.com/icon/free/png-256/menu-1887262-1599050.png');
            background-size: cover;
        }

    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
        padding: 10px;
        background-color: #f1f1f1;
        margin-top: 10px;
    }

        .nav-menu li {
            margin-bottom: 5px;
        }

            .nav-menu li a {
                display: block;
            }

    .navbar.show .nav-menu {
        display: flex;
    }
}
header {
    background-color: #222121;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
