@{
    ViewData["Title"] = "login";
    var userData = new User();
}

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginPage.css" />
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="Email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" required>

            <link href="WelnessWebsite/Views/loginPage/signUpPage.cshtml"/>

            <p>Don't have an account? <a href="@Url.Action("Create", "Users")">Sign Up!</a></p>
        </form>
    </div>
</body>
</html>
