@{
    ViewData["Title"] = "login";
    var userData = new User();
}


<!DOCTYPE html>
<html>
<head>
    
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginPage.css" />
    
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form>

            <label for="email">Email:</label>
            <input type="text" id="Email" name="Email" value="@userData.Password" required>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="@userData.Name" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="@userData.Password" required>
            
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>

